<div class="container">
    <h2 class="text-center py-3">LG TV Controller</h2>
    <header class="d-flex flex-wrap justify-content-center pb-3 mb-4 border-bottom">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./tvs">TVs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./remote">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./schedule">Schedule</a>
            </li>
        </ul>
    </header>
</div>